<launch>
  <!-- Single-drone planner connected to an external Gazebo + PX4/MAVROS simulation. -->
  <arg name="map_size_x" default="100.0"/>
  <arg name="map_size_y" default="100.0"/>
  <arg name="map_size_z" default="3.0"/>

  <arg name="odometry_topic" default="/Odometry_high_rate"/>
  <arg name="point_cloud_topic" default="/velodyne_points_world"/>
  <arg name="goal_topic" default="/move_base_simple/goal"/>

  <!-- flight_type: 1 = interactive goal, 2 = predefined waypoints. -->
  <arg name="flight_type" default="1"/>
  <arg name="max_velocity" default="1.5"/>
  <arg name="max_acceleration" default="6.0"/>
  <arg name="max_jerk" default="20.0"/>
  <arg name="planning_horizon" default="7.5"/>
  <arg name="use_multi_topology_trajectories" default="false"/>

  <arg name="use_sim_time" default="true"/>
  <arg name="enable_rviz" default="true"/>

  <!--  -->

  <arg name="rviz_config"
       default="$(find diff_planner)/launch/gazebo_sim/single_drone.rviz"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <include file="$(find diff_planner)/launch/gazebo_sim/planner.launch">
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odometry_topic)"/>
    <arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
    <arg name="goal_topic" value="$(arg goal_topic)"/>
    <arg name="flight_type" value="$(arg flight_type)"/>
    <arg name="max_velocity" value="$(arg max_velocity)"/>
    <arg name="max_acceleration" value="$(arg max_acceleration)"/>
    <arg name="max_jerk" value="$(arg max_jerk)"/>
    <arg name="planning_horizon" value="$(arg planning_horizon)"/>
    <arg name="use_multi_topology_trajectories"
         value="$(arg use_multi_topology_trajectories)"/>
  </include>

  <node pkg="diff_planner" type="traj_server" name="traj_server" output="screen">
    <remap from="position_cmd" to="/setpoints_cmd"/>
    <remap from="~planning/trajectory" to="/planning/trajectory"/>
    <param name="traj_server/time_forward" value="1.0" type="double"/>
  </node>

  <node if="$(arg enable_rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(arg rviz_config)" output="screen"/>
</launch>
