<launch>
    <!-- Pure single-vehicle planner for an external Gazebo + PX4/MAVROS simulation. -->
    <arg name="map_size_x" default="200.0"/>
    <arg name="map_size_y" default="200.0"/>
    <arg name="map_size_z" default="3.0"/>
    <arg name="odom_topic" default="/mavros/local_position/odom"/>
    <arg name="cloud_topic" default="/velodyne_points_world"/>
    <arg name="goal_topic" default="/move_base_simple/goal"/>
    <arg name="flight_type" default="1"/>
    <arg name="rviz" default="true"/>
    <arg name="rviz_config" default="$(find diff_planner)/launch/gazebo_sim/gz_sim_single.rviz"/>

    <include file="$(find diff_planner)/launch/gazebo_sim/run_in_gz_single.xml">
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="cloud_topic" value="$(arg cloud_topic)"/>
        <arg name="goal_topic" value="$(arg goal_topic)"/>
        <arg name="flight_type" value="$(arg flight_type)"/>
    </include>

    <!-- Set rviz:=false for headless simulation runs. -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
          args="-d $(arg rviz_config)" output="screen"/>
</launch>
